<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update Rating and Price</title>
</head>
<body>
      <%  if(result.title){ %>
    <h3>Update book </h3>
    <form action="/update-book" method="POST">
        <table border="1">
            <tr>
                <th>Title :</th><td><%= result.title %></td>
            </tr>
            <tr>
                <th>ISBN: </th><td><%= result.isbn %></td>
            </tr>
            <tr>
                <th>Rating:</th><td><input type="text" name="rating" value = "<%= result.rating %>"></td>
            </tr>
            <tr>
                <th>Price:</th><td><input type="text" name="price" value="<%= result.price %>"></td>
            </tr>
            <input type="hidden" name="isbn" value="<%= result.isbn %>">
            <tr>
                <td colspan="2"><button type="submit">Update Book</button></td>
            </tr>
        </table>
     
        
    </form>
     <% } %>


<br><br>

        
   
    
</body>
</html>